snippet note
	> [note] $1
	> $2

snippet tips
	> [tips] $1
	> $2

snippet important
	> [important] $1
	> $2

snippet warning
	> [warning] $1
	> $2

snippet caution
	> [caution] $1
	> $2

snippet link "markdown link" 
	[${1:${VISUAL}}]($2)

priority 2000
autosnippet hell
	what a hell
