#b - Beginning of line.
#i - In-word expansion.
#w - Word boundary.
#r - Regular expression
#A - Snippet will be triggered automatically, when condition matches.

global !p
import re
from mypy import math
endglobal
# def math():
# 	return vim.eval('vimtex#syntax#in_mathzone()') == '1'

# small environment

snippet ol "Enumerate" b
\begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet ul "Itemize" b
\begin{itemize}
	\item $0
\end{itemize}
endsnippet
