snippet note "callout note" b
> [!NOTE]
>
endsnippet

snippet tip "callout tip" b
> [!tip]
>
endsnippet

snippet important "callout important" b
> [!important]
>
endsnippet

snippet warning "callout warning" b
> [!warning]
>
endsnippet

snippet caution "callout caution" b
> [!caution]
>
endsnippet
