snippet link
  [${1:${VISUAL}}]($2)

snippet bold
  **${1:${VISUAL}}**

snippet italic
  *${1:${VISUAL}}*

snippet bold_italic
  ***${1:${VISUAL}}***

snippet code_inline
  \`${1:${VISUAL}}\`

snippet code_fence
  \`\`\`${2:shell}
  ${1:${VISUAL}}
  \`\`\`

snippet footnote
  [^$1]

snippet note
  > [note] $1
  > $2

snippet tips
  > [tips] $1
  > $2

snippet important
  > [important] $1
  > $2

snippet warning
  > [warning] $1
  > $2

snippet caution
  > [caution] $1
  > $2
